In [1]:
import pandas as pd

In [3]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is D64D-E4F5

 Directory of C:\Users\greci\Documents\Jupiter_notebooks

06/18/2021  08:05 PM    <DIR>          .
06/18/2021  08:05 PM    <DIR>          ..
06/18/2021  07:57 PM    <DIR>          .ipynb_checkpoints
06/18/2021  08:05 PM               839 Untitled.ipynb
               1 File(s)            839 bytes
               3 Dir(s)  908,452,384,768 bytes free

In [4]:
df = pd.read_csv (r'SMM_s1_DR_Seg_3Dcount_75slices.csv')

       PIXEL_COUNT INTENSITY_1 INTENSITY_1_PERC INTENSITY_2 INTENSITY_2_PERC  \
0                5         806            1.000           0            0.000
1               50        1035            1.000           0            0.000
2                4         120            1.000           0            0.000
3                1         873            1.000           0            0.000
4               26        1058            1.000           0            0.000
...            ...         ...              ...         ...              ...
234077           1       20749            1.000           0            0.000
234078           2       20574            1.000           0            0.000
234079           2       20784            1.000           0            0.000
234080           2       20771            1.000           0            0.000
234081           1       20697            1.000           0            0.000

       INTENSITY_3 INTENSITY_3_PERC
0                0                0
1                0                0
2                0                0
3                0                0
4                0                0
...            ...              ...
234077           0            0.000
234078           0            0.000
234079           0            0.000
234080           0            0.000
234081           0            0.000

[234082 rows x 7 columns]

In [5]:
df

,PIXEL_COUNT,INTENSITY_1,INTENSITY_1_PERC,INTENSITY_2,INTENSITY_2_PERC,INTENSITY_3,INTENSITY_3_PERC
0,5,806,1.000,0,0.000,0,0
1,50,1035,1.000,0,0.000,0,0
2,4,120,1.000,0,0.000,0,0
3,1,873,1.000,0,0.000,0,0
4,26,1058,1.000,0,0.000,0,0
...,...,...,...,...,...,...,...
234077,1,20749,1.000,0,0.000,0,0.000
234078,2,20574,1.000,0,0.000,0,0.000
234079,2,20784,1.000,0,0.000,0,0.000
234080,2,20771,1.000,0,0.000,0,0.000
234081,1,20697,1.000,0,0.000,0,0.000